<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lucky Card Online</title>
</head>
<body>
    <div>
            <form action="/third" method="post">
                <label>Put the index of card</label><br>
                <input type="text" id="index" name="index">
                <button type="submit">index card</button><br>
                <button type="submit" id="pop" name="pop">pop card</button>
                <button type="submit" id="shuffle" name="shuffle">shuffle deck</button>
                <button type="submit" id="get_random" name="get_random">Random Card</button>
            </form>
    </div>
        <br><br>{{content}}
        <br><br>{{deck}}
</body>
</html>